@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, dir, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
}

body {
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

code {
  font-family: monospace;
  font-size: 1.5rem;
}

.box {
  padding: 1em;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.box.primary {
  background: #2183c4;
  color: whitesmoke;
}

.box.secondary {
  background: #18CD76;
  color: whitesmoke;
}

.box.success {
  background: #20b80d;
  color: whitesmoke;
}

.box.danger {
  background: #a00b0b;
  color: whitesmoke;
}

.box.warning {
  background: #e4c61f;
  color: #555;
}

.box.link {
  background: cornflowerblue;
  color: whitesmoke;
}

.box.light {
  background: whitesmoke;
  color: #555;
}

.card {
  background: whitesmoke;
}

.card .card-content {
  padding: 16px;
}

a > .card {
  border: 1px solid transparent;
}

a:hover > .card {
  border: 1px solid #2183c4;
}

.footer {
  background: whitesmoke;
  padding: 16px;
}

.hero {
  min-height: 10em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.hero.primary {
  background: #2183c4;
  color: whitesmoke;
}

.hero.secondary {
  background: #18CD76;
  color: whitesmoke;
}

.hero.success {
  background: #20b80d;
  color: whitesmoke;
}

.hero.danger {
  background: #a00b0b;
  color: whitesmoke;
}

.hero.warning {
  background: #e4c61f;
  color: #555;
}

.hero.link {
  background: cornflowerblue;
  color: whitesmoke;
}

.hero.light {
  background: whitesmoke;
  color: #555;
}

.hero.small {
  padding: 2.25rem 0;
}

.hero.medium {
  padding: 4.5rem 0;
}

.hero.large {
  padding: 6rem 0;
}

.hero .hero-body {
  margin: auto 0;
}

nav.nav {
  width: 100%;
}

nav.nav.primary {
  background: #2183c4;
  color: whitesmoke;
}

nav.nav.primary a.nav-item:hover, nav.nav.primary .nav-item.dropdown:hover, nav.nav.primary .nav-item.active {
  background: #2592da;
}

nav.nav.primary .nav-item.dropdown .nav-dropdown .nav-item {
  background: #2183c4;
  color: whitesmoke;
}

nav.nav.primary .nav-item.dropdown .nav-dropdown .nav-item:hover, nav.nav.primary .nav-item.dropdown .nav-dropdown .nav-item.active {
  background: #2592da;
  color: whitesmoke;
}

nav.nav.secondary {
  background: #18CD76;
  color: whitesmoke;
}

nav.nav.secondary a.nav-item:hover, nav.nav.secondary .nav-item.dropdown:hover, nav.nav.secondary .nav-item.active {
  background: #1be483;
}

nav.nav.secondary .nav-item.dropdown .nav-dropdown .nav-item {
  background: #18CD76;
  color: whitesmoke;
}

nav.nav.secondary .nav-item.dropdown .nav-dropdown .nav-item:hover, nav.nav.secondary .nav-item.dropdown .nav-dropdown .nav-item.active {
  background: #1be483;
  color: whitesmoke;
}

nav.nav.success {
  background: #20b80d;
  color: whitesmoke;
}

nav.nav.success a.nav-item:hover, nav.nav.success .nav-item.dropdown:hover, nav.nav.success .nav-item.active {
  background: #24d00f;
}

nav.nav.success .nav-item.dropdown .nav-dropdown .nav-item {
  background: #20b80d;
  color: whitesmoke;
}

nav.nav.success .nav-item.dropdown .nav-dropdown .nav-item:hover, nav.nav.success .nav-item.dropdown .nav-dropdown .nav-item.active {
  background: #24d00f;
  color: whitesmoke;
}

nav.nav.danger {
  background: #a00b0b;
  color: whitesmoke;
}

nav.nav.danger a.nav-item:hover, nav.nav.danger .nav-item.dropdown:hover, nav.nav.danger .nav-item.active {
  background: #b80d0d;
}

nav.nav.danger .nav-item.dropdown .nav-dropdown .nav-item {
  background: #a00b0b;
  color: whitesmoke;
}

nav.nav.danger .nav-item.dropdown .nav-dropdown .nav-item:hover, nav.nav.danger .nav-item.dropdown .nav-dropdown .nav-item.active {
  background: #b80d0d;
  color: whitesmoke;
}

nav.nav.warning {
  background: #e4c61f;
  color: #555;
}

nav.nav.warning a.nav-item:hover, nav.nav.warning .nav-item.dropdown:hover, nav.nav.warning .nav-item.active {
  background: #e7cc36;
}

nav.nav.warning .nav-item.dropdown .nav-dropdown .nav-item {
  background: #e4c61f;
  color: #555;
}

nav.nav.warning .nav-item.dropdown .nav-dropdown .nav-item:hover, nav.nav.warning .nav-item.dropdown .nav-dropdown .nav-item.active {
  background: #e7cc36;
  color: #555;
}

nav.nav.link {
  background: cornflowerblue;
  color: whitesmoke;
}

nav.nav.link a.nav-item:hover, nav.nav.link .nav-item.dropdown:hover, nav.nav.link .nav-item.active {
  background: #7ba5f0;
}

nav.nav.link .nav-item.dropdown .nav-dropdown .nav-item {
  background: cornflowerblue;
  color: whitesmoke;
}

nav.nav.link .nav-item.dropdown .nav-dropdown .nav-item:hover, nav.nav.link .nav-item.dropdown .nav-dropdown .nav-item.active {
  background: #7ba5f0;
  color: whitesmoke;
}

nav.nav.light {
  background: whitesmoke;
  color: #555;
}

nav.nav.light a.nav-item:hover, nav.nav.light .nav-item.dropdown:hover, nav.nav.light .nav-item.active {
  background: #e8e8e8;
}

nav.nav.light .nav-item.dropdown .nav-dropdown .nav-item {
  background: whitesmoke;
  color: #555;
}

nav.nav.light .nav-item.dropdown .nav-dropdown .nav-item:hover, nav.nav.light .nav-item.dropdown .nav-dropdown .nav-item.active {
  background: #e8e8e8;
  color: #555;
}

nav.nav .nav-item.dropdown.primary .nav-dropdown .nav-item {
  background: #2183c4;
  color: whitesmoke;
}

nav.nav .nav-item.dropdown.primary .nav-dropdown .nav-item a.nav-item:hover, nav.nav .nav-item.dropdown.primary .nav-dropdown .nav-item .nav-item.dropdown:hover, nav.nav .nav-item.dropdown.primary .nav-dropdown .nav-item .nav-item.active {
  background: #2592da;
}

nav.nav .nav-item.dropdown.primary .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item {
  background: #2183c4;
  color: whitesmoke;
}

nav.nav .nav-item.dropdown.primary .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item:hover, nav.nav .nav-item.dropdown.primary .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item.active {
  background: #2592da;
}

nav.nav .nav-item.dropdown.secondary .nav-dropdown .nav-item {
  background: #18CD76;
  color: whitesmoke;
}

nav.nav .nav-item.dropdown.secondary .nav-dropdown .nav-item a.nav-item:hover, nav.nav .nav-item.dropdown.secondary .nav-dropdown .nav-item .nav-item.dropdown:hover, nav.nav .nav-item.dropdown.secondary .nav-dropdown .nav-item .nav-item.active {
  background: #1be483;
}

nav.nav .nav-item.dropdown.secondary .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item {
  background: #18CD76;
  color: whitesmoke;
}

nav.nav .nav-item.dropdown.secondary .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item:hover, nav.nav .nav-item.dropdown.secondary .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item.active {
  background: #1be483;
}

nav.nav .nav-item.dropdown.success .nav-dropdown .nav-item {
  background: #20b80d;
  color: whitesmoke;
}

nav.nav .nav-item.dropdown.success .nav-dropdown .nav-item a.nav-item:hover, nav.nav .nav-item.dropdown.success .nav-dropdown .nav-item .nav-item.dropdown:hover, nav.nav .nav-item.dropdown.success .nav-dropdown .nav-item .nav-item.active {
  background: #24d00f;
}

nav.nav .nav-item.dropdown.success .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item {
  background: #20b80d;
  color: whitesmoke;
}

nav.nav .nav-item.dropdown.success .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item:hover, nav.nav .nav-item.dropdown.success .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item.active {
  background: #24d00f;
}

nav.nav .nav-item.dropdown.danger .nav-dropdown .nav-item {
  background: #a00b0b;
  color: whitesmoke;
}

nav.nav .nav-item.dropdown.danger .nav-dropdown .nav-item a.nav-item:hover, nav.nav .nav-item.dropdown.danger .nav-dropdown .nav-item .nav-item.dropdown:hover, nav.nav .nav-item.dropdown.danger .nav-dropdown .nav-item .nav-item.active {
  background: #b80d0d;
}

nav.nav .nav-item.dropdown.danger .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item {
  background: #a00b0b;
  color: whitesmoke;
}

nav.nav .nav-item.dropdown.danger .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item:hover, nav.nav .nav-item.dropdown.danger .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item.active {
  background: #b80d0d;
}

nav.nav .nav-item.dropdown.warning .nav-dropdown .nav-item {
  background: #e4c61f;
  color: #555;
}

nav.nav .nav-item.dropdown.warning .nav-dropdown .nav-item a.nav-item:hover, nav.nav .nav-item.dropdown.warning .nav-dropdown .nav-item .nav-item.dropdown:hover, nav.nav .nav-item.dropdown.warning .nav-dropdown .nav-item .nav-item.active {
  background: #e7cc36;
}

nav.nav .nav-item.dropdown.warning .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item {
  background: #e4c61f;
  color: #555;
}

nav.nav .nav-item.dropdown.warning .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item:hover, nav.nav .nav-item.dropdown.warning .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item.active {
  background: #e7cc36;
}

nav.nav .nav-item.dropdown.link .nav-dropdown .nav-item {
  background: cornflowerblue;
  color: whitesmoke;
}

nav.nav .nav-item.dropdown.link .nav-dropdown .nav-item a.nav-item:hover, nav.nav .nav-item.dropdown.link .nav-dropdown .nav-item .nav-item.dropdown:hover, nav.nav .nav-item.dropdown.link .nav-dropdown .nav-item .nav-item.active {
  background: #7ba5f0;
}

nav.nav .nav-item.dropdown.link .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item {
  background: cornflowerblue;
  color: whitesmoke;
}

nav.nav .nav-item.dropdown.link .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item:hover, nav.nav .nav-item.dropdown.link .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item.active {
  background: #7ba5f0;
}

nav.nav .nav-item.dropdown.light .nav-dropdown .nav-item {
  background: whitesmoke;
  color: #555;
}

nav.nav .nav-item.dropdown.light .nav-dropdown .nav-item a.nav-item:hover, nav.nav .nav-item.dropdown.light .nav-dropdown .nav-item .nav-item.dropdown:hover, nav.nav .nav-item.dropdown.light .nav-dropdown .nav-item .nav-item.active {
  background: #e8e8e8;
}

nav.nav .nav-item.dropdown.light .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item {
  background: whitesmoke;
  color: #555;
}

nav.nav .nav-item.dropdown.light .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item:hover, nav.nav .nav-item.dropdown.light .nav-dropdown .nav-item .nav-item.dropdown .nav-dropdown .nav-item.active {
  background: #e8e8e8;
}

nav.nav .nav-menu {
  display: flex;
  height: 4em;
}

nav.nav .nav-menu .nav-start {
  display: flex;
  margin-right: auto;
  margin-left: -0.5em;
}

nav.nav .nav-menu .nav-end {
  margin-left: auto;
  margin-right: -0.5em;
}

nav.nav .nav-menu .nav-item {
  display: inline-flex;
  align-items: center;
  color: inherit;
  height: 100%;
  padding: 0 0.5em;
  white-space: nowrap;
}

nav.nav .nav-menu .nav-item .nav-brand {
  margin-right: 1em;
}

nav.nav .nav-menu .nav-item .nav-brand .nav-brand-title {
  font-size: 2rem;
}

nav.nav .nav-menu .nav-item.dropdown {
  position: relative;
  padding: 0;
}

nav.nav .nav-menu .nav-item.dropdown > .nav-item:after {
  content: '▾';
  margin-left: 0.5em;
}

nav.nav .nav-menu .nav-item.dropdown .nav-dropdown {
  display: none;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  top: 100%;
  min-width: 100%;
  padding: 0 1em 1em 1em;
  margin: 0 -1em -1em -1em;
}

nav.nav .nav-menu .nav-item.dropdown .nav-dropdown:before {
  position: absolute;
  z-index: 0;
  content: ' ';
  display: block;
  width: calc(100% - 2em);
  height: calc(100% - 1em);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

nav.nav .nav-menu .nav-item.dropdown .nav-dropdown .nav-item {
  z-index: 1;
  padding: 1em;
}

nav.nav .nav-menu .nav-item.dropdown:hover .nav-dropdown {
  display: flex;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 0.75em;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button.rounded {
  border-radius: 290486px;
}

.button.primary {
  background: #2183c4;
  color: whitesmoke;
}

.button.primary:hover {
  background: #2592da;
}

.button.primary:active {
  background: #3a9dde;
}

.button.secondary {
  background: #18CD76;
  color: whitesmoke;
}

.button.secondary:hover {
  background: #1be483;
}

.button.secondary:active {
  background: #31e790;
}

.button.success {
  background: #20b80d;
  color: whitesmoke;
}

.button.success:hover {
  background: #24d00f;
}

.button.success:active {
  background: #28e810;
}

.button.danger {
  background: #a00b0b;
  color: whitesmoke;
}

.button.danger:hover {
  background: #b80d0d;
}

.button.danger:active {
  background: #d00e0e;
}

.button.warning {
  background: #e4c61f;
  color: #555;
}

.button.warning:hover {
  background: #e7cc36;
}

.button.warning:active {
  background: #e9d24d;
}

.button.link {
  background: cornflowerblue;
  color: whitesmoke;
}

.button.link:hover {
  background: #7ba5f0;
}

.button.link:active {
  background: #92b4f2;
}

.button.light {
  background: whitesmoke;
  color: #555;
}

.button.light:hover {
  background: #e8e8e8;
}

.button.light:active {
  background: gainsboro;
}

.button.small {
  font-size: 0.75rem;
}

.button.medium {
  font-size: 1.5rem;
}

.button.large {
  font-size: 2rem;
}

h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
  margin-bottom: 0.25em;
}

h1.title {
  font-size: 3rem;
}

h2.title {
  font-size: 2.5rem;
}

h3.title {
  font-size: 2rem;
}

h4.title {
  font-size: 1.5rem;
}

h5.title {
  font-size: 1.25rem;
}

h6.title {
  font-size: 1rem;
}

.content {
  color: #333;
  line-height: 1.5;
}

.content > * {
  margin-bottom: 1em;
}

.content a {
  color: cornflowerblue;
}

.content a:hover {
  text-decoration: underline;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin-bottom: 0.25em;
}

.content h1 {
  font-size: 3rem;
}

.content h2 {
  font-size: 2.5rem;
}

.content h3 {
  font-size: 2rem;
}

.content h4 {
  font-size: 1.5rem;
}

.content h5 {
  font-size: 1.25rem;
}

.content h6 {
  font-size: 1rem;
}

.content ul {
  list-style-type: disc;
  list-style-position: inside;
}

.content ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.content dl dt {
  margin-left: 1em;
}

.field {
  margin-top: 16px;
  margin-bottom: 16px;
}

.field .label {
  display: block;
  margin-bottom: 8px;
}

.field.grouped {
  margin-left: -16px;
  margin-right: -16px;
}

.field.grouped .control {
  margin-left: 16px;
  margin-right: 16px;
}

.field.expanded {
  display: flex;
}

.field.expanded .control {
  flex-grow: 1;
}

.input {
  padding: 0.75em 0.5em 0.5em 0.75em;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -16px;
}

.columns .column {
  flex: 1 1;
  padding: 0 16px;
}

.columns .column.one-third {
  flex: none;
  width: 33.3333%;
}

.container {
  max-width: 1152px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.row {
  padding-top: 32px;
  padding-bottom: 32px;
}
/*# sourceMappingURL=allardyce-scss.css.map */