<div class="hero light small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Nav</h1>
            <h4 class="title">A horizontal navigation bar</h4>
        </div>
    </div>
</div>