.columns {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -$gap;

    .column {
        flex: 1 1;
        padding: 0 $gap;

        &.one-third {
            flex: none;
            width: 33.3333%;
        }
    }

}