.box {
    padding: 1em;
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.1);

    @each $name, $value in $colors {
        $color: nth($value, 1); $invert: nth($value, 2); $hover: nth($value, 3);

        &.#{$name} {

            background: $color;
            color: $invert;

        }

    }
}