$size-multiplier: 3;

.hero {
    min-height: 10em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    
    @each $name, $value in $colors {
        $color: nth($value, 1); $invert: nth($value, 2); $hover: nth($value, 3);

        &.#{$name} {

            background: $color;
            color: $invert;

        }

    }

    @each $name, $value in $sizes {
        &.#{$name} {
            padding: ($value * $size-multiplier) 0;
        }
    }

    .hero-body {
        margin: auto 0;
    }
}