$nav-height: 4em;


nav.nav {

    width: 100%;

    @each $name, $value in $colors {
        $color: nth($value, 1); $invert: nth($value, 2); $hover: nth($value, 3);

        &.#{$name} {

            background: $color;
            color: $invert;

            a.nav-item:hover, .nav-item.dropdown:hover, .nav-item.active {
                background: $hover;
            }

            .nav-item.dropdown .nav-dropdown .nav-item {
                background: $color;
                color: $invert;

                &:hover, &.active {
                    background: $hover;
                    color: $invert;
                }
            }

        }

    }

    
    @each $name, $value in $colors {
        $color: nth($value, 1); $invert: nth($value, 2); $hover: nth($value, 3);

        .nav-item.dropdown.#{$name} .nav-dropdown .nav-item {

            background: $color;
            color: $invert;

            a.nav-item:hover, .nav-item.dropdown:hover, .nav-item.active {
                background: $hover;
            }

            .nav-item.dropdown .nav-dropdown .nav-item {
                background: $color;
                color: $invert;

                &:hover, &.active {
                    background: $hover;
                }
            }

        }

    }

    .nav-menu {
        
        display: flex;
        height: $nav-height;

        .nav-start {
            display: flex;
            margin-right: auto;
            margin-left: -0.5em;
        }
        
        .nav-end {
            margin-left: auto;
            margin-right: -0.5em;
        }

        .nav-item {
            display: inline-flex;
            align-items: center;
            color: inherit;
            height: 100%;
            padding: 0 0.5em;
            white-space: nowrap;

            .nav-brand {
                margin-right: 1em;
                .nav-brand-title {
                    font-size: 2rem;
                }
            }

            &.dropdown {

                position: relative;
                padding: 0;

                > .nav-item:after {
                    content: '▾';
                    margin-left: 0.5em;
                }

                .nav-dropdown {
                    display: none;
                    flex-direction: column;

                    z-index: 1;
                    position: absolute;
                    top: 100%;

                    min-width: 100%;

                    //Invisble hover border
                    padding: 0 1em 1em 1em;
                    margin: 0 -1em -1em -1em;

                    //Dropdown shadow
                    &:before {
                        position: absolute;
                        z-index: 0;
                        content: ' ';
                        display: block;
                        width: calc(100% - 2em);
                        height: calc(100% - 1em);
                        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
                    }

                    .nav-item {
                        z-index: 1;
                        padding: 1em;
                    }
                }

                &:hover {

                    .nav-dropdown {
                        display: flex;
                    }
                }
            }
        }

    }

}