html {
    font-family: sans-serif;
}
body { 
    line-height: 1.5;
}

strong { font-weight: bold; }

.text-left { text-align: left; }
.text-centered { text-align: center; }
.text-right { text-align: right; }

code { font-family: monospace; font-size: 1.5rem; }