$gap: 16px;

$lighten: 5%;
$darken: 5%;

$light: whitesmoke;
$dark: #555;


$primary: #2183c4;
$secondary: #18CD76;

$success: #20b80d;
$danger: #a00b0b;
$warning: #e4c61f;
$link: cornflowerblue;

$text: #333;

$colors: (
    "primary": ($primary, findColorInvert($primary), lighten($primary, $lighten), lighten($primary, $lighten * 2)),
    "secondary": ($secondary, findColorInvert($secondary), lighten($secondary, $lighten), lighten($secondary, $lighten * 2)),
    "success": ($success, findColorInvert($success), lighten($success, $lighten), lighten($success, $lighten * 2)),
    "danger": ($danger, findColorInvert($danger), lighten($danger, $lighten), lighten($danger, $lighten * 2)),
    "warning": ($warning, findColorInvert($warning), lighten($warning, $lighten), lighten($warning, $lighten * 2)),
    "link": ($link, findColorInvert($link), lighten($link, $lighten), lighten($link, $lighten * 2)),
    "light": ($light, findColorInvert($light), darken($light, $darken), darken($light, $darken * 2))
);

// $colors: ();
// @each $name, $value in $base_colors {
//     $invert: findColorInvert($value);
//     $hover: lighten($value, $lighten);
//     $colors: join($colors, ($name: ($value, $invert, $hover)));
// }


$small: 0.75rem;
$medium: 1.5rem;
$large: 2rem;
$sizes: ("small": $small, "medium": $medium, "large": $large);