.button {
    display: inline-block;
    padding: 0.75em;
    cursor: pointer;
    text-align: center;
    user-select: none;
    
    &.rounded {
        border-radius: 290486px;
    }

    @each $name, $value in $colors {
        $color: nth($value, 1); $invert: nth($value, 2); $hover: nth($value, 3); $active: nth($value, 4);

        &.#{$name} {

            background: $color;
            color: $invert;

            &:hover {
                background: $hover;
            }
            
            &:active {
                background: $active;
            }

        }

    }

    
    @each $name, $value in $sizes {
        &.#{$name} {
            font-size: $value;
        }
    }
    
}