.content {

    color: $text;
    line-height: 1.5;
    > * {
        margin-bottom: 1em;
    }

    a {
        color: $link;
        &:hover {
            text-decoration: underline;
        }
    }

    h1, h2, h3, h4, h5, h6 {  
        margin-bottom: 0.25em;
    }
    h1 { font-size: 3rem; }
    h2 { font-size: 2.5rem; }
    h3 { font-size: 2rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1.25rem; }
    h6 { font-size: 1rem; }

    ul {
        list-style-type: disc;
        list-style-position: inside;
    }
    
    ol {
        list-style-type: decimal;
        list-style-position: inside;
    }

    dl dt {
        margin-left: 1em;
    }
}