

.field {
    margin-top: $gap;
    margin-bottom: $gap;

    .label {
        display: block;
        margin-bottom: $gap / 2;
    }

    &.grouped {
        margin-left: -$gap;
        margin-right: -$gap;
        .control {
            margin-left: $gap;
            margin-right: $gap;
        }
    }

    &.expanded {
        display: flex;

        .control {
            flex-grow: 1;
        }
    }

}

.input {
    padding: 0.75em 0.5em 0.5em 0.75em;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}