
h1, h2, h3, h4, h5, h6 {  
    &.title {
        margin-bottom: 0.25em;
    }
}
h1.title { font-size: 3rem; }
h2.title { font-size: 2.5rem; }
h3.title { font-size: 2rem; }
h4.title { font-size: 1.5rem; }
h5.title { font-size: 1.25rem; }
h6.title { font-size: 1rem; }
