<div class="hero light small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Elect</h1>
            <h4 class="title">Another CSS framework</h4>
        </div>
    </div>
</div>


<div class="row container">

    <div class="columns">
        <div class="column">

        
            <div class="field content">
                <h3>Getting Started</h3>                
                <p>
                    Elect is a CSS only framework. No JavaScript needed! Simply import the framework into your project, and get started.
                </p>
                <p>
                    The project is built from SCSS, so it is easy to modify colour variables to suit your own projects theme. You can import only the modules that you want, if you like to keep your own projects lightweight.
                </p>
            </div>

            <div class="field grouped expanded">
                <a class="button control primary medium"><strong>Download</strong> v0.1</a>
                <a class="button control light medium">Documentation</a>
            </div>

        </div>
        <div class="column">
            <div class="field">
                <h3 class="title">Installation</h3>
            </div>
            <div class="field">
                <div class="box light">
                    <code>npm install elect --save</code>
                </div>
            </div>
            <div class="field">
                <div class="box light">
                    <code>yarn add elect</code>
                </div>
            </div>
            
            <div class="field">
                <div class="box light">
                    <code>&lt;link rel="stylesheet" href="elect.css"></code>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row container">
    
    <div class="columns">
        <div class="column one-third">
            <a href="#/404">
                <div class="card">
                    <div class="card-image">
                        <img class="image" src="https://placeimg.com/640/480/nature?a" />
                    </div>
                    <div class="card-content content text-centered">
                        <h3>Github</h3>
                        <p>Check out Elect on Github. Not that it exists there yet.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="column one-third">
            <a href="#/404">
                <div class="card">
                    <div class="card-image">
                        <img class="image" src="https://placeimg.com/640/480/nature?b" />
                    </div>
                    <div class="card-content content text-centered">
                        <h3>Hello</h3>
                        <p>How are you? I hope that you're having a wonderful day.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="column one-third">
            <a href="#/404">
                <div class="card">
                    <div class="card-image">
                        <img class="image" src="https://placeimg.com/640/480/nature?c" />
                    </div>
                    <div class="card-content content text-centered">
                        <h3>Themes</h3>
                        <p>Browse some pre-built themes that use Elect.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>                

</div>